<div class="page">

    <section class="d-flex justify-content-center align-items-center vh-100">
      <mat-card class="shadow-lg col-xs-12 col-xm-12 col-mg-6 col-lg-3">
      <form [formGroup]="loginForm">
      <mat-card-title class="text-center my-4">SIGN IN</mat-card-title>
      <mat-card-content class="text-center">
          <div>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" formControlName="username">
              <mat-error>Username required</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" formControlName="password">
              <mat-error>Password required</mat-error>
            </mat-form-field>
          </div>

        </mat-card-content>
        <mat-card-actions class="text-center card-genre">
          <button mat-raised-button (click)="login()" [disabled]="disableBtn" color="primary" class="w-100" type="submit">LOGIN</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </section>
</div>
